@import "tailwindcss";

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0a09;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

audio {
  width: 100%;
}
